<div class="container mt-5 ml-5">
    <div class="row">
      <!-- Left Area -->
      <div class="col-md-6">
        <div class="d-flex align-items-start">
          <!-- GitHub Icon -->
          <img src="../../assets/avatar.png" class="img-fluid me-2" height="49" width="49" />
  
          <!-- Space after the icon -->
          <div style="width: 0.5rem"></div>
  
          <!-- Commit Message -->
          <div>
            <p class="commit-msg ">{{ commitModel.commit.message }}</p>
            <p><span class="author-by">Authored by </span><span class="author-bold">{{ commitModel.commit.author.name }}</span><span class="author-by"> on </span><span class="author-bold">{{ commitModel.commit.author.date | date:'longDate' }}</span></p>
            <p class="random-text ">This is body text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget ipsum 
                massa egestas id pellentesque volutpat maecenas amet.</p>
          </div>
        </div>
      </div>
  
      <!-- Right Area -->
      <div class="col-md-6 text-end">
        <br>
        <p><span class="commited-by">Committed by </span><span class="commited-by-bold">{{ commitModel.commit.committer.name }} </span><span *ngIf="commitModel.commit.author.date !== commitModel.commit.committer.date"><span class="commited-by">on </span><span class="commited-by-bold">{{ commitModel.commit.committer.date | date:'longDate' }}</span></span></p>
        <p><span class="commit">Commit </span><span class="commit-sha">{{ commitModel.sha }}</span></p>
        <p><span class="parent">Parent </span><span class="parent-sha">{{ commitModel.parents[0].sha }}</span></p>
      </div>
    </div>
  
    <!-- Space after the left and right areas -->
    <div style="margin-top: 2rem;"></div>
  
    <!-- Expansion Panel -->
    <mat-accordion>
        <mat-expansion-panel hideToggle 
        *ngFor="let file of commitModel.files; let i = index"
        [expanded]="panelOpenState[i]"
        (opened)="panelOpenState[i] = true"
        (closed)="panelOpenState[i] = false">
          <mat-expansion-panel-header>
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <img *ngIf="!panelOpenState[i]" src="../../assets/darrow.png" alt="Icon" class="icon">
                <img *ngIf="panelOpenState[i]" src="../../assets/uarrow.png" alt="Icon" class="icon">
                <!-- Space between icon and title -->
                <div style="width: 8px;">
                </div>
            <mat-panel-title>
              <span class="file-title">{{ file.filename }}</span>
            </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <app-patch-viewer [patch]="file.patch"></app-patch-viewer>
        </mat-expansion-panel>
        <!-- Space after each expansion pannel -->
    <div style="margin-top: 2rem;"></div>
    </mat-accordion>
  </div>